In [20]:
import pandas as pd
from datetime import datetime
from docxtpl import DocxTemplate

In [12]:
# saving the template
doc = DocxTemplate("./data/mensaje.docx")

In [13]:
# create constant variable 
nombre = "Francisco Duarte"
telefono = "(123) 456-789"
correo = "francisco.duarte@gmail.com"
fecha = datetime.today().strftime("%d/%m/%Y")

In [14]:
#test date time 
print(fecha)

29/07/2024

In [15]:
# create a dictionary
constantes = {'nombre': nombre, 'telefono': telefono, 'correo':correo, 'fecha': fecha}

In [17]:
# print dictionary
print(constantes)

{'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}

In [22]:
# load the data of the excel table
df = pd.read_excel('./data/notas.xlsx')

In [23]:
# bringt it (df)
df

     nombre alumno  mat  fis  qui
0  German Pichardo  6.2  5.8  6.1
1   Giahana Alfaro  5.9  6.4  6.3
2       Luis Lopez  5.6  6.1  5.9
3         Ana Soto  6.4  6.2  6.0
4  Yuyis Solorzano  6.0  6.3  5.8
5       Benny Sven  6.1  5.9  6.2
6      Kathia Laut  5.8  6.0  6.1
7     Susi Simpson  6.3  6.1  6.2
8     Kathai Kraut  6.2  6.0  6.3
9     Dirk Salinas  6.1  5.7  6.0

In [30]:
# iterate the documents und create for every student a single file 
for indice, fila in df.iterrows():
    contenido = {
        'nombre_alumno': fila["nombre alumno"],
        'nota_mat': fila['mat'],
        'nota_fis': fila['fis'],
        'nota_qui': fila['qui']
    } #update the content
    contenido.update(constantes)
    #load the new data
    doc.render(contenido)
    #save it 
    doc.save(f"Notas_de_{fila['nombre alumno']}.docx")
    
    print(contenido)

{'nombre_alumno': 'German Pichardo', 'nota_mat': 6.2, 'nota_fis': 5.8, 'nota_qui': 6.1, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Giahana Alfaro', 'nota_mat': 5.9, 'nota_fis': 6.4, 'nota_qui': 6.3, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Luis Lopez', 'nota_mat': 5.6, 'nota_fis': 6.1, 'nota_qui': 5.9, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Ana Soto', 'nota_mat': 6.4, 'nota_fis': 6.2, 'nota_qui': 6.0, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Yuyis Solorzano', 'nota_mat': 6.0, 'nota_fis': 6.3, 'nota_qui': 5.8, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Benny Sven', 'nota_mat': 6.1, 'nota_fis': 5.9, 'nota_qui': 6.2, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Kathia Laut', 'nota_mat': 5.8, 'nota_fis': 6.0, 'nota_qui': 6.1, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Susi Simpson', 'nota_mat': 6.3, 'nota_fis': 6.1, 'nota_qui': 6.2, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Kathai Kraut', 'nota_mat': 6.2, 'nota_fis': 6.0, 'nota_qui': 6.3, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}
{'nombre_alumno': 'Dirk Salinas', 'nota_mat': 6.1, 'nota_fis': 5.7, 'nota_qui': 6.0, 'nombre': 'Francisco Duarte', 'telefono': '(123) 456-789', 'correo': 'francisco.duarte@gmail.com', 'fecha': '29/07/2024'}

In [18]:
# save the data into the word document created
doc.render(constantes)
doc.save(f"prueba.docx")